<!DOCTYPE html>
<html>
    <head>
        <% include ../../partials/head %>
    </head>
    <body>
        <% include ../../partials/header %>
        <div class="container">
            <br />
            <h3>
                <%= title %>
            </h3>
            <hr />
            <form action="/administration/cours/ajouter" method="post">
                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                        <label for="course-teacher">Enseignant</label>
                        <select id="course-teacher" name="course-teacher" class="form-control">
                            <% liste_ens.forEach((ens) => { %>
                                <option value="<%= ens.id %>">
                                    <%= ens.prenom %> <%= ens.nom %>
                                </option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                        <label for="course-name">Intitulé</label>
                        <input type="text" class="form-control" id="course-name" name="course-name" placeholder="iOS">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                        <label for="course-admin">Administration</label>
                        <select id="course-admin" name="course-admin" class="form-control">
                            <% liste_adm.forEach((adm) => { %>
                                <option value="<%= adm.id %>">
                                    <%= adm.prenom %> <%= adm.nom %>
                                </option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-success offset-md-4">Ajouter</button>
            </form>
        </div>
        <% include ../../partials/includes %>
    </body>
</html>