<!DOCTYPE html>
<html>
    <head>
        <% include ../../partials/head %>
    </head>
    <body>
        <% include ../../partials/header %>
        <div class="container">
            <br />
            <div class="row">
                <div class="col-6">
                    <h3><%= title %></h3>
                </div>
                <div class="col-6">
                    <a href="/administration/cours/ajouter" class="btn btn-outline-secondary float-right">Ajouter une matière</a>
                </div>
            </div>
            <hr />
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Enseignant</th>
                        <th scope="col">Intitulé</th>
                        <th scope="col">Admin</th>
                    </tr>
                </thead>
                <tbody>
                    <% liste.forEach(function (matiere) { %>
                        <tr>
                            <td><%= matiere.ens_prenom %> <%= matiere.ens_nom %></td>
                            <td><%= matiere.intitule %></td>
                            <td><%= matiere.adm_prenom %> <%= matiere.adm_nom %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <% include ../../partials/includes %>
    </body>
</html>