<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <% include ../partials/sidebars/enseignants %>
        <div class="container">
            <br />
            <h3><%= title %></h3>
            <hr />
            <p>Welcome to <%= title %></p>
        </div>
        <% include ../partials/includes %>
    </body>
</html>