<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>

    <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div>

    <% include ./partials/includes %>
  </body>
</html>
