<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>

    <div class="container">
        <h1><%= title %></h1>
        
        <hr />

        <div class="row">
            <div class="offset-3 col-6">
                <form action="/login" method="POST">
                    <div class="form-group">
                        <label for="userEmail">Adresse email :</label>
                        <input type="email" class="form-control" id="userEmail" name="userEmail" placeholder="adresse@email.fr">
                    </div>
                    <div class="form-group">
                        <label for="userPassword">Mot de passe :</label>
                        <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="Mot de passe">
                    </div>
                    <button type="submit" class="btn btn-outline-success">Connexion</button>
                </form>
            </div>
        </div>
    </div>
    <% include ./partials/includes %>
  </body>
</html>
