<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="container">
            <div id="to-display-error" hidden>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Oups !</strong> Une erreur est survenue.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <br />
            <h3><%= title %></h3>
            <hr />
            <div class="d-flex justify-content-center">
                <div class="form-row">
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Numéro étudiant</span>
                        </div>
                        <input type="text" class="form-control" id="student-number-to-find" placeholder="21301376" aria-label="Numéro étudiant">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <button id="search-student" class="btn btn-outline-primary">Rechercher</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="d-flex justify-content-center" id="no-absence"></div>
            <table class="table table-striped" id="hidden-table" hidden>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Cours</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Heure d'arrivée</th>
                        <th scope="col">Date du cours</th>
                    </tr>
                </thead>
                <tbody id="insert-data-here">
                    <!--
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    -->
                </tbody>
            </table>
        </div>
        <% include ../partials/includes %>
    </body>
</html>