<div class="wrapper">
	<!-- Sidebar -->
	<nav id="sidebar">
		<div class="sidebar-header">
			<a class="nav-link" href="/administration"><h4>Administration</h4></a>	
		</div>

		<ul class="list-unstyled components">
			<li>
				<a href="#courseSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Cours</a>
				<ul class="collapse list-unstyled" id="courseSubmenu">
					<li>
						<a href="/administration/cours/liste">Liste</a>
					</li>
					<li>
						<a href="/administration/cours/ajouter">Ajouter</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#teacherSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Enseignants</a>
				<ul class="collapse list-unstyled" id="teacherSubmenu">
					<li>
						<a href="/administration/enseignants/liste">Liste</a>
					</li>
					<li>
						<a href="/administration/enseignants/ajouter">Ajouter</a>
					</li>
				</ul>
			</li>
			<li>
					<a href="#studentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Etudiants</a>
					<ul class="collapse list-unstyled" id="studentSubmenu">
						<li>
							<a href="/administration/etudiants/liste">Liste</a>
						</li>
						<li>
							<a href="/administration/etudiants/ajouter">Ajouter</a>
						</li>
					</ul>
				</li>
		</ul>
	</nav>
</div>