<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a class="nav-link" href="/enseignants">
                <h4>Enseignants</h4>
            </a>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#">Mes cours</a>
            </li>
            <li class="active">
                <a href="#">Les absences</a>
            </li>
        </ul>
    </nav>
</div>