<div class="wrapper">
	<!-- Sidebar -->
	<nav id="sidebar">
		<div class="sidebar-header">
			<a class="nav-link" href="/etudiants">
				<h4>Etudiants</h4>
			</a>
		</div>

		<ul class="list-unstyled components">
			<li class="active">
				<a href="#">Mes absences</a>
			</li>
		</ul>
	</nav>
</div>