<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">ICI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <% if (group === 'administration') { %>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="courseDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Cours
                    </a>
                    <div class="dropdown-menu" aria-labelledby="courseDropdown">
                        <a class="dropdown-item" href="/administration/cours/liste">Liste</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/administration/cours/ajouter">Ajouter</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="teacherDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Enseignants
                    </a>
                    <div class="dropdown-menu" aria-labelledby="teacherDropdown">
                        <a class="dropdown-item" href="/administration/enseignants/liste">Liste</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/administration/enseignants/ajouter">Ajouter</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="studentDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Etudiants
                    </a>
                    <div class="dropdown-menu" aria-labelledby="studentDropdown">
                        <a class="dropdown-item" href="/administration/etudiants/liste">Liste</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="matiereDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Matière
                    </a>
                    <div class="dropdown-menu" aria-labelledby="matiereDropdown">
                        <a class="dropdown-item" href="/administration/matieres/liste">Liste</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/administration/matieres/ajouter">Ajouter</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Administrateurs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="adminDropdown">
                        <a class="dropdown-item" href="/administration/admin/liste">Liste</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/administration/admin/ajouter">Ajouter</a>
                    </div>
                </li>
            <% } %>
            <% if (group === 'etudiant') { %>
                <li class="nav-item active">
                    <a class="nav-link" href="/etudiants/cours">Mes cours</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/etudiants/absences">Mes absences</a>
                </li>
            <% } %>
            <% if (group === 'enseignant') { %>
                <li class="nav-item active">
                    <a class="nav-link" href="/enseignants/cours">Mes cours</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/enseignants/absences">Les absences</a>
                </li>
            <% } %>
        </ul>
        <% if (typeof(user) !== 'undefined' ) { %>
            <% if (group === 'administration') { %>
                <a class="btn btn-outline-secondary my-2 my-sm-0" href="/administration/admin/ajouter" style="margin-right: 2%;">Ajouter un admin</a>
            <% } %>
            <a class="btn btn-outline-danger my-2 my-sm-0" href="/logout">Logout</a>
        <% } else { %>
            <a class="btn btn-outline-success my-2 my-sm-0" href="/login">Login</a>
        <% } %>
    </div>
</nav>