<meta charset="utf-8">
<title>
    <%= title %>
</title>
<meta name="description" content="ICI">
<meta name="author" content="Patrick Poirier & Manon Vermersch">

<!-- styles -->
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

<link href="/stylesheets/style.css" rel="stylesheet">