<!DOCTYPE html>
<html>
    <head>
        <% include ../../partials/head %>
    </head>
    <body>
        <% include ../../partials/header %>
        <div class="container">
            <br />
            <h3><%= title %></h3>
            <hr />
            <form action="/administration/enseignants/ajouter" method="post">
                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                        <label for="teacher-firstname">Prénom</label>
                        <input type="text" class="form-control" id="teacher-firstname" name="teacher-firstname" placeholder="Pierre">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                        <label for="teacher-lastname">Nom</label>
                        <input type="text" class="form-control" id="teacher-lastname" name="teacher-lastname" placeholder="Dupond">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                        <label for="teacher-code">Code</label>
                        <input type="text" class="form-control" id="teacher-code" name="teacher-code" placeholder="123Toto">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                        <label for="teacher-email">Adresse email</label>
                        <input type="email" class="form-control" id="teacher-email" name="teacher-email" placeholder="pierre@dupond.fr">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                        <label for="teacher-password">Mot de passe</label>
                        <input type="password" class="form-control" id="teacher-password" name="teacher-password" placeholder="●●●●●●●●●">
                    </div>
                </div>
                <button type="submit" class="btn btn-success offset-md-4">Ajouter</button>
            </form>
        </div>
        <% include ../../partials/includes %>
    </body>
</html>