<!DOCTYPE html>
<html>
    <head>
        <% include ../../partials/head %>
    </head>
    <body>
        <% include ../../partials/header %>
        <div class="container">
            <br />
            <div class="row">
                <div class="col-6">
                    <h3><%= title %></h3>
                </div>
                <div class="col-6">
                    <a href="/administration/enseignants/ajouter" class="btn btn-outline-secondary float-right">Ajouter un enseignant</a>
                </div>
            </div>
            <hr />
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Code</th>
                        <th scope="col">Adresse email</th>
                    </tr>
                </thead>
                <tbody>
                    <% liste.forEach(function (enseignant) { %>
                        <tr>
                            <td><%= enseignant.prenom %> <%= enseignant.nom %></td>
                            <td><%= enseignant.code %></td>
                            <td><%= enseignant.adresse_email %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <% include ../../partials/includes %>
    </body>
</html>