<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head %>
</head>

<body>
    <% include ../../partials/header %>
    <div class="container">
        <br />
        <h3>
            <%= title %>
        </h3>
        <hr />
        <form action="/administration/cours/ajouter" method="post">
            <div class="form-row">
                <div class="form-group col-md-4 offset-md-4">
                    <label for="course-name">Matière</label>
                    <select id="course-name" name="course-name" class="form-control">
                        <% matieres.forEach((matiere) => { %>
                        <option value="<%= matiere.id %>">
                            <%= matiere.intitule %>
                        </option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4 offset-md-4">
                    <label for="course-room">Salle</label>
                    <input type="text" class="form-control" id="course-room" name="course-room" placeholder="MBDS">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4 offset-md-4">
                    <label for="course-start">Date de début</label>
                    <input type="text" class="form-control" id="course-start" name="course-start" placeholder="2019-01-21 15:00:00">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4 offset-md-4">
                    <label for="course-end">Date de fin</label>
                    <input type="text" class="form-control" id="course-end" name="course-end" placeholder="2019-01-21 16:30:00">
                </div>
            </div>
            <button type="submit" class="btn btn-success offset-md-4">Ajouter</button>
        </form>
    </div>
    <% include ../../partials/includes %>
</body>

</html>