<!DOCTYPE html>
<html>
    <head>
        <% include ../../partials/head %>
    </head>
    <body>
        <% include ../../partials/header %>
        <div class="container">
            <br />
            <div class="row">
                <div class="col-6">
                    <h3><%= title %></h3>
                </div>
                <div class="col-6">
                    <a href="/administration/cours/ajouter" class="btn btn-outline-secondary float-right">Ajouter un cours</a>
                </div>
            </div>
            <hr />
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Matière</th>
                        <th scope="col">Salle</th>
                        <th scope="col">Enseignant</th>
                        <th scope="col">Début</th>
                        <th scope="col">Fin</th>
                    </tr>
                </thead>
                <tbody>
                    <% liste.forEach(function (cour) { %>
                        <tr>
                            <td><%= cour.intitule %></td>
                            <td><%= cour.salle %></td>
                            <td><%= cour.prenom %> <%= cour.nom %></td>
                            <td><%= cour.date_debut %></td>
                            <td><%= cour.date_fin %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <% include ../../partials/includes %>
    </body>
</html>