<!DOCTYPE html>
<html>
    <head>
        <% include ../../partials/head %>
    </head>
    <body>
        <% include ../../partials/header %>
        <div class="container">
            <br />
            <h3><%= title %></h3>
            <hr />
            <form action="/administration/etudiants/ajouter" method="post">
                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                        <label for="student-firstname">Prénom</label>
                        <input type="text" class="form-control" id="student-firstname" name="student-firstname" placeholder="Paul">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                        <label for="student-lastname">Nom</label>
                        <input type="text" class="form-control" id="student-lastname" name="student-lastname" placeholder="Dupont">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                        <label for="student-number">Numéro étudiant</label>
                        <input type="number" minlength="8" maxlength="8" class="form-control" id="student-number" name="student-number" placeholder="21301376">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                        <label for="student-email">Adresse email</label>
                        <input type="email" class="form-control" id="student-email" name="student-email" placeholder="paul@dupont.fr">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                        <label for="student-password">Mot de passe</label>
                        <input type="password" class="form-control" id="student-password" name="student-password" placeholder="●●●●●●●●●">
                    </div>
                </div>
                <button type="submit" class="btn btn-success offset-md-4">Ajouter</button>
            </form>
        </div>
        <% include ../../partials/includes %>
    </body>
</html>