<!DOCTYPE html>
<html>
    <head>
        <% include ../../partials/head %>
    </head>
    <body>
        <% include ../../partials/header %>
        <div class="container">
            <br />
            <h3>
                <%= title %>
            </h3>
            <hr />
            <form action="/administration/admin/ajouter" method="post">
                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                        <label for="admin-firstname">Prénom</label>
                        <input type="text" class="form-control" id="admin-firstname" name="admin-firstname" placeholder="Pierre">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                        <label for="admin-lastname">Nom</label>
                        <input type="text" class="form-control" id="admin-lastname" name="admin-lastname" placeholder="Dupond">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                        <label for="admin-email">Adresse email</label>
                        <input type="email" class="form-control" id="admin-email" name="admin-email" placeholder="pierre@dupond.fr">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                        <label for="admin-password">Mot de passe</label>
                        <input type="password" class="form-control" id="admin-password" name="admin-password"
                            placeholder="●●●●●●●●●">
                    </div>
                </div>
                <button type="submit" class="btn btn-success offset-md-4">Ajouter</button>
            </form>
        </div>
        <% include ../../partials/includes %>
    </body>
</html>